@{
    ViewBag.Title = "About";
}
@Html.Partial("_background")
<div class="container-fluid">
    
        <h2><b>@ViewBag.Title</b></h2>


        <h5>HappyRetail is a British multinational grocery and general merchandise retailer headquartered in United Kingdom. It is the third largest retailer in the world measured by profits and second-largest retailer in the world measured by revenues. It has stores in 12 countries across Asia and Europe and is the grocery market leader in the UK (where it has a market share of around 30%), the Republic of Ireland, Hungary, Malaysia and Thailand.</h5>
    </div>
    