@{
    ViewBag.Title = "Contact";
}
@Html.Partial("_background")
@Html.Partial("common_navbar")
<div class="container-fluid body-content">


    <h2><b>Customer Care</b></h2>
    <h4>
        <p>Feel free to contact us.</p>

        <address>
            Happy Retails Headquarters,<br />
            London, EN 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@happyretail.com">Support@happyretail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@happyretail.com">Marketing@happyretail.com</a>
        </address>
    </h4>
</div>

