@Html.Partial("common_navbar")

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style=" height:350px ;width:100% " src="../IMAGES/pic5.jpg" alt="HAPPY RETAIL">
        </div>
        <div class="carousel-item">
            <img style=" height:350px ;width:100% " src="../IMAGES/Appliances.png" alt="HAPPY RETAIL">
        </div>
        <div class="carousel-item">
            <img style=" height:350px ;width:100% " src="../IMAGES/clearnc.png" alt="HAPPY RETAIL">
        </div>
        <div class="carousel-item">
            <img style=" height:350px ;width:100% " src="../IMAGES/deal.jpg" alt="HAPPY RETAIL">
        </div>
        <div class="carousel-item">
            <img style=" height:350px ;width:100% " src="../IMAGES/diwalisale.png" alt="HAPPY RETAIL">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="fa fa-chevron-circle-left"></span>
    </a>
    <a class="right carousel-control-next" href="#demo" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>