@model Retail_Management_System.Models.Product


@{
    ViewBag.Title = "BrandView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="get" action="/Product/Filter" class="form-inline m-2">
    <div class="col-md-10">
        @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            listItems.Add(new SelectListItem
            {
                Text = "Category",
                Value = "Category"
            });
            listItems.Add(new SelectListItem
            {
                Text = "Brand",
                Value = "Brand"
            });
            listItems.Add(new SelectListItem
            {
                Text = "Age",
                Value = "Age"
            });
            listItems.Add(new SelectListItem
            {
                Text = "Gender",
                Value = "Gender"
            });
            

        }
        @Html.DropDownList("name", listItems, new { @class = "form-control fa fa-filter" })
        <input type="submit" value="Filter" class="btn btn-dark btn-sm" />
    </div>
</form>

<div class="m-3 " style="opacity:100">
    @foreach (var item in (List<string>)ViewBag.Brand)
    {

        @Html.ActionLink(item, "BrandView", new { Brand = item }, new { @class = "list-group-item list-group-item-action bg-transparent" })

    }
</div>

