@model Retail_Management_System.Models.User


@{
    ViewBag.Title = "BuyNow";
}
@Html.Partial("_background")
@Html.Partial("user_navbar")

<div class="d-flex justify-content-center">
    <div class="card w-50 p-4 mt-5 " >


        <p style="color:chocolate" class="d-flex justify-content-center">
           
            Do you want to confirm your order?
        </p>
        <div class="d-flex justify-content-center">
            @Html.ActionLink("Confirm Order", "PayNow", new { UserId = ViewBag.UserId, ProductId = ViewBag.ProductId }, new { @class = "mt-2 col-4 btn btn-success" })
        </div>
        </div>
    </div>
<div class=" d-flex justify-content-center">
    <p class="mt-2">
        @Html.ActionLink("Back to Cart", "Cart", "User", null, new { @class = "btn btn-info btn-sm" })
    </p>
    </div>
    
