@model IEnumerable<Retail_Management_System.Models.ShippingDetails>
@{
    ViewBag.Title = "Confirm Payment";
}
@Html.Partial("_background")
@Html.Partial("user_navbar")
<div class="d-flex justify-content-center">
    <div class="card w-50 p-4 mt-5" style="box-shadow: 0 19px 38px rgba(0,0,0,0.30),0 15px 12px rgba(0,0,0,0.22)">

        <h2>Payment Status</h2>
        <p style="color:green">
            Your Payment was successful
        </p>
        <p>
            Thank you for shopping with Happy Retail.<br />


            The expected delivery date:<b>@ViewBag.DeliveryDate</b>
        </p>
        <div class="d-flex justify-content-center">

            <a href="/user/myorders" class="bctn btn-primary btn-sm"><i class="fa fa-archive"></i> My Orders</a>
            </div>
        </div>
</div>