
@{
    ViewBag.Title = "Filter";
}

<h2>Filter</h2>

<form method="get" action="/Product/Filter" class="form-inline m-2">
    <div class="col-md-10">
        @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            listItems.Add(new SelectListItem
            {
                Text = "Category",
                Value = "Category"
            });
            listItems.Add(new SelectListItem
            {
                Text = "Brand",
                Value = "Brand"
            });
            listItems.Add(new SelectListItem
            {
                Text = "Age",
                Value = "Age"
            });
            listItems.Add(new SelectListItem
            {
                Text = "Gender",
                Value = "Gender"
            });

        }
        @Html.DropDownList("name", listItems, new { @class = "form-control fa fa-filter" })
        <input type="submit" value="Filter" class="btn btn-dark btn-sm fa fa-filter" />
    </div>
</form>
