
@{
    ViewBag.Title = "NetBanking";
}
@Html.Partial("_background")
@Html.Partial("user_navbar")



<h2>NetBanking</h2>
<p>
    Choose your Bank
</p>
<ul>
    <li>
        SBI
    </li>
    <li>
        HDFC
    </li>
    <li>
        ICICI
    </li>
    <li>
        Axis Bank
    </li>
    <li>
        Standarad Charterd
    </li>
</ul>
@Html.ActionLink("Confirm Payment", "ConfirmPayment", new { Tid = ViewBag.Tid })