@model Retail_Management_System.Models.Transaction

@{
    ViewBag.Title = "CreditCard";
}
@Html.Partial("_background")
@Html.Partial("user_navbar")
<h2>Payment Status</h2>
<p>
    Your Payment was successful
</p>
<p>
    Thank yoou for shopping with Happy Retail.<br />
    The expected delivery date:<b>@ViewBag.DeliveryDate</b>
</p>
@Html.ActionLink("My Orders", "MyOrders", "User")

