
@{
    ViewBag.Title = "NetBanking";
}
@Html.Partial("_background")
@Html.Partial("user_navbar")


<div class="d-flex justify-content-center">
    <div class="card w-25 p-4 mt-5 ">
        <h2>NetBanking</h2>
        <p>
            Choose your Bank
        </p>
        <ul>
            <li>
                SBI
            </li>
            <li>
                HDFC
            </li>
            <li>
                ICICI
            </li>
            <li>
                Axis Bank
            </li>
            <li>
                Standarad Charterd
            </li>
        </ul>
        <div class="d-flex justify-content-center">
            <a href="/product/confirmpayment" class="bctn btn-primary btn-sm"> Confirm Payment</a>

        </div>
    </div>
</div>